<div class="flex flex-column h-screen">
  <navbar/>
  <div class="flex flex-grow-1 flex-column py-4 px-8 gap-4 overflow-auto">
    <p-card class="flex-shrink-0">
      <ng-template #title>
        <div class="flex align-items-center justify-content-between">
          <span class="text-2xl font-bold">Mis asignaturas</span>
          <p-button icon="pi pi-plus" label="Asignatura" [outlined]="true" (onClick)="showDialog()"/>
        </div>
      </ng-template>
      <ng-template #subtitle>
        <div>
          <span>¿Qué vas a estudiar hoy?</span>
        </div>
      </ng-template>
      @if (currentSubjects.length == 0) {
        <div class="flex flex-column text-center">
          <span class="text-5xl font-bold text-primary">¡Comencemos!</span>
          <span class="text-xl mb-1">Aun no tienes ninguna asignatura</span>
          <span class="text-base font-italic mb-3">Prueba a crear una nueva haciendo click en '+ Asignatura'</span>
        </div>
      } @else {
        <subject-carousel [currentSubjects]="currentSubjects"/>
      }
    </p-card>
    <p-card class="w-full flex flex-column">
      <ng-template #title>
        <span class="text-2xl font-bold">Tareas pendientes</span>
      </ng-template>
      <div class="overflow-auto" style="height: 30vh">
        <p>
          Lorem ipsum dolor sit amet...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p class="m-0">
          At vero eos et accusamus et iusto odio dignissimos...
        </p>
        <p>
          Lorem ipsum dolor sit amet...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p class="m-0">
          At vero eos et accusamus et iusto odio dignissimos...
        </p>
      </div>
    </p-card>
    <p-card class="w-full flex flex-column">
      <ng-template #title>
        <span class="text-2xl font-bold">Exámenes</span>
      </ng-template>
      <div class="overflow-auto" style="height: 30vh">
        <p>
          Lorem ipsum dolor sit amet...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p class="m-0">
          At vero eos et accusamus et iusto odio dignissimos...
        </p>
        <p>
          Lorem ipsum dolor sit amet...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
        <p class="m-0">
          At vero eos et accusamus et iusto odio dignissimos...
        </p>
      </div>
    </p-card>
  </div>
  <div>
    <p-toolbar>
      <ng-template #start>
        <span class="pl-2 text-primary font-bold">Acady</span>
      </ng-template>
      <ng-template #end>
        <span class="pl-2 text-primary font-bold">2025</span>
      </ng-template>
    </p-toolbar>
  </div>
</div>

<p-dialog closable="false" [(visible)]="visible" [draggable]="false" [modal]="true" [style]="{ width: '25rem' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap text-xl">Añadir asignatura</span>
    </div>
  </ng-template>
  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <div class="block">
      <p-inputgroup class="mb-3">
        <p-inputgroup-addon>
          <p-button variant="text" (click)="op.toggle($event)">
            <ng-template pTemplate="icon">
              <i class="pi pi-circle-fill" [style.color]="colorPalette[chosenColor][500]"></i>
            </ng-template>
          </p-button>
        </p-inputgroup-addon>
        <input pInputText
               placeholder="Asignatura"
               [(ngModel)]="newSubject.name"
               id="subject"
               name="subject"
               #subject="ngModel"
               autocomplete="off"
               fluid
               variant="filled"/>
      </p-inputgroup>
      <input pInputText
             placeholder="Código"
             [(ngModel)]="newSubject.code"
             id="code"
             name="code"
             #code="ngModel"
             autocomplete="off"
             fluid
             class="mb-2"
             variant="filled"/>
    </div>
    <div class="flex justify-content-end flex-wrap mt-3">
      <p-button class="mr-1" label="Cancelar" [text]="true" severity="secondary" (click)="resetForm()"/>
      <p-button label="Añadir" type="submit"/>
    </div>
  </form>
</p-dialog>

<p-popover #op>
  <div class="flex gap-2">
    @for (color of colorList; track $index) {
      <div style="width: fit-content">
        <i (click)="setColor(color, op)" pRipple class="pi pi-circle-fill cursor-pointer"
           [style.color]="colorPalette[color][500]"></i>
      </div>
    }
  </div>
</p-popover>
