<div class="flex flex-column h-screen">
  <navbar/>
  <div class="flex flex-grow-1 flex-column py-4 px-8 gap-4 overflow-auto">
    <p-card header="Mis asignaturas" class="flex-shrink-0">
        <subject-carousel/>
    </p-card>
      <p-card header="Tareas pendientes" class="w-full flex flex-column">
        <div class="overflow-auto" style="height: 32vh">
          <p>
            Lorem ipsum dolor sit amet...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p class="m-0">
            At vero eos et accusamus et iusto odio dignissimos...
          </p>
          <p>
            Lorem ipsum dolor sit amet...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p class="m-0">
            At vero eos et accusamus et iusto odio dignissimos...
          </p>
        </div>
      </p-card>
      <p-card header="Exámenes" class="w-full flex flex-column">
        <div class="overflow-auto" style="height: 30vh">
          <p>
            Lorem ipsum dolor sit amet...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p class="m-0">
            At vero eos et accusamus et iusto odio dignissimos...
          </p>
          <p>
            Lorem ipsum dolor sit amet...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
          </p>
          <p class="m-0">
            At vero eos et accusamus et iusto odio dignissimos...
          </p>
        </div>
      </p-card>
  </div>
  <div>
    <p-toolbar>
      <ng-template #start>
        <span class="pl-2">Acady</span>
      </ng-template>
      <ng-template #end>
        <span class="pl-2">2025</span>
      </ng-template>
    </p-toolbar>
  </div>
</div>
