<div class="flex flex-column h-screen">
  <navbar class="z-5" [subjectAdded]="subjectAdded"/>
  <div class="flex flex-grow-1 flex-column py-4 px-8 gap-4 overflow-auto">
    <p-card class="flex-shrink-0">
      <ng-template #title>
        <div class="flex align-items-center justify-content-between">
          <span class="text-2xl font-bold">Mis asignaturas</span>
          <p-button icon="pi pi-plus" label="Asignatura" [outlined]="true" (onClick)="showDialog()"/>
        </div>
      </ng-template>
      <ng-template #subtitle>
        <div>
          <span>¿Qué vas a estudiar hoy?</span>
        </div>
      </ng-template>
      <ng-template #content>
        @if (loadingSubjects) {
          <div class="flex flex-column text-center">
            <p-progress-spinner class="my-8" strokeWidth="8" fill="transparent" animationDuration=".5s"
                                [style]="{ width: '50px', height: '50px' }"/>
          </div>
        } @else if (currentSubjects.length == 0) {
          <div class="flex flex-column text-center">
            <span class="text-5xl font-bold text-primary">¡Comencemos!</span>
            <span class="text-xl mb-1">Aun no tienes ninguna asignatura</span>
            <span class="text-base font-italic mb-3">Prueba a crear una nueva haciendo click en '+ Asignatura'</span>
          </div>
        } @else {
          <subject-carousel [currentSubjects]="currentSubjects"/>
        }
      </ng-template>
    </p-card>

    @if (currentSubjects.length !== 0) {
      <p-card class="w-full flex flex-column">
        <ng-template #title>
          <span class="text-2xl font-bold">Tareas pendientes</span>
        </ng-template>
        <ng-template #content>
          @if (loadingTasks) {
            <div class="flex flex-column text-center">
              <p-progress-spinner class="my-8" strokeWidth="8" fill="transparent" animationDuration=".5s"
                                  [style]="{ width: '50px', height: '50px' }"/>
            </div>
          } @else if (currentTasks.length == 0) {
            <div class="flex flex-column text-center">
              <span class="text-5xl font-bold text-primary my-3">¡Muy bien!</span>
              <span class="text-xl mb-1">No tienes tareas pendientes</span>
              <span class="text-base font-italic mb-3">¡No pierdas el ritmo!</span>
            </div>
          } @else {
            <div class="my-4 mx-5">
              <p-table [value]="currentTasks" stripedRows sortField="duedate" [sortOrder]="1" [scrollable]="true"
                       scrollHeight="65vh">
                <ng-template #header>
                  <tr>
                    <th style="width:40%">
                      Tarea
                    </th>
                    <th style="width:20%">
                      Asignatura
                    </th>
                    <th style="width:20%">
                      Prioridad
                    </th>
                    <th style="width:20%">
                      Fecha de entrega
                    </th>
                  </tr>
                </ng-template>
                <ng-template #body let-task>
                  <tr>
                    <td>{{ task.description }}</td>
                    <td>
                      <div class="flex align-items-center flex-wrap gap-2">
                        <i class="pi pi-circle-fill"
                           [style.color]="colorPalette[getColorById(task.subjectId)][500]"></i>
                        <span class="pl-2">{{ getNameById(task.subjectId) }}</span>
                      </div>
                    </td>
                    <td>
                      <p-tag [severity]="getSeverityByNumber(task.priority)" [value]="getLabelByNumber(task.priority)"/>
                    </td>
                    <td>{{ task.duedate | date: 'dd/MM/yyyy' }}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          }
        </ng-template>
      </p-card>
      <p-card class="w-full flex flex-column">
        <ng-template #title>
          <span class="text-2xl font-bold">Exámenes</span>
        </ng-template>
        @if (loadingExams) {
          <div class="flex flex-column text-center">
            <p-progress-spinner class="my-8" strokeWidth="8" fill="transparent" animationDuration=".5s"
                                [style]="{ width: '50px', height: '50px' }"/>
          </div>
        } @else if (currentExams.length == 0) {
          <div class="flex flex-column text-center">
            <span class="text-5xl font-bold text-primary my-3">¡Estás de suerte!</span>
            <span class="text-xl mb-1">Parece que no tienes ningún examen pronto</span>
            <span class="text-base font-italic mb-3">¡No dejes de estudiar!</span>
          </div>
        } @else {
          <div class="my-4 mx-5">
            <p-table [value]="currentExams" stripedRows sortField="date" [sortOrder]="1" [scrollable]="true"
                     scrollHeight="65vh">
              <ng-template #header>
                <tr>
                  <th style="width:20%">
                    Asignatura
                  </th>
                  <th style="width:40%">
                    Temas
                  </th>
                  <th style="width:20%">
                    Nota
                  </th>
                  <th style="width:20%">
                    Fecha
                  </th>
                </tr>
              </ng-template>
              <ng-template #body let-exam>
                <tr>
                  <td>
                    <div class="flex align-items-center flex-wrap gap-2">
                      <i class="pi pi-circle-fill" [style.color]="colorPalette[getColorById(exam.subjectId)][500]"></i>
                      <span class="pl-2">{{ getNameById(exam.subjectId) }}</span>
                    </div>
                  </td>
                  <td>
                    @for (chapter of getChaptersByExamId(exam); track $index) {
                      <p-tag class="mx-1" [value]="'Tema ' + chapter?.number"/>
                    }
                  </td>
                  <td>@if (exam.grade != undefined) {
                    {{ exam.grade }}
                  } @else {
                    <span>Pendiente</span>
                  }</td>
                  <td>{{ exam.date | date: 'dd/MM/yyyy' }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        }
      </p-card>
    }
  </div>
  <div>
    <p-toolbar>
      <ng-template #start>
        <span class="pl-2 text-primary font-bold">Acady</span>
      </ng-template>
      <ng-template #end>
        <span class="pl-2 text-primary font-bold">2025</span>
      </ng-template>
    </p-toolbar>
  </div>
</div>

<p-dialog closable="false" [(visible)]="visible" [draggable]="false" [modal]="true" [style]="{ width: '25rem' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap text-xl">Añadir asignatura</span>
    </div>
  </ng-template>
  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <div class="block">
      <p-inputgroup class="mb-3">
        <p-inputgroup-addon>
          <p-button variant="text" (click)="op.toggle($event)">
            <ng-template pTemplate="icon">
              <i class="pi pi-circle-fill" [style.color]="colorPalette[chosenColor][500]"></i>
            </ng-template>
          </p-button>
        </p-inputgroup-addon>
        <input pInputText
               placeholder="Asignatura"
               [(ngModel)]="newSubject.name"
               id="subject"
               name="subject"
               #subject="ngModel"
               autocomplete="off"
               fluid
               variant="filled"/>
      </p-inputgroup>
      <input pInputText
             placeholder="Código (ej. Lengua: LEN)"
             [(ngModel)]="newSubject.code"
             id="code"
             name="code"
             #code="ngModel"
             autocomplete="off"
             fluid
             variant="filled"/>
    </div>

    @if (isInvalid) {
      <div class="flex justify-content-end pt-2 pb-3">
        <small class="text-red-600">
          {{ this.errorMessage }}
        </small>
      </div>
    }

    <div class="flex justify-content-end flex-wrap mt-3">
      <p-button class="mr-1" label="Cancelar" [text]="true" severity="secondary" (click)="resetForm()"/>
      <p-button label="Añadir" type="submit" [disabled]="!formIsFilled()"/>
    </div>
  </form>
</p-dialog>

<p-popover #op>
  <div class="flex gap-2">
    @for (color of colorList; track $index) {
      <div style="width: fit-content">
        <i (click)="setColor(color, op)" pRipple class="pi pi-circle-fill cursor-pointer"
           [style.color]="colorPalette[color][500]"></i>
      </div>
    }
  </div>
</p-popover>
