<div class="flex flex-column h-screen">
  <navbar class="z-5"/>
  <div class="flex flex-grow-1 flex-column py-4 px-8 gap-4 overflow-auto">
    <p-card class="flex-shrink-0">
      <ng-template #title>
        <div class="flex align-items-center justify-content-between">
          <span class="text-2xl font-bold">Mis exámenes</span>
          <p-button icon="pi pi-plus" label="Examen" [outlined]="true" (onClick)="showNewExamDialog()"
                    [disabled]="currentChapters.length == 0"/>
        </div>
      </ng-template>
      <ng-template #subtitle>
        <div>
          <span>¿Qué exámenes están por venir?</span>
        </div>
      </ng-template>
      <ng-template #content>
        @if (currentSubjects.length == 0) {
          <div class="flex flex-column text-center">
            <span class="text-5xl font-bold text-primary my-3">¡Aun no tienes asignaturas!</span>
            <span class="text-xl mb-1">Debes tener al menos una asignatura para crear un examen</span>
            <span class="text-base font-italic mb-3">Vuelve al inicio para crear una asignatura</span>
          </div>
        } @else if (currentChapters.length == 0) {
          <div class="flex flex-column text-center">
            <span class="text-5xl font-bold text-primary my-3">¡Aun no tienes temas!</span>
            <span class="text-xl mb-1">Aun no has añadido temas a ninguna de tus asignaturas</span>
            <span class="text-base font-italic mb-3">Crea un tema en una asignatura para poder añadir exámenes</span>
          </div>
        } @else if (currentExams.length == 0) {
          <div class="flex flex-column text-center">
            <span class="text-5xl font-bold text-primary my-3">¿Tienes un examen pronto?</span>
            <span class="text-xl mb-1">Aun no has añadido ningún examen</span>
            <span class="text-base font-italic mb-3">¡Prueba a añadir uno!</span>
          </div>
        } @else () {
          <div class="my-4 mx-5">
            <p-table [value]="currentExams" stripedRows sortField="date" [sortOrder]="1" [scrollable]="true"
                     scrollHeight="65vh" selectionMode="single" [(selection)]="selectedExam" (onRowSelect)="onRowSelect($event)" dataKey="id">
              <ng-template #header>
                <tr>
                  <th style="width:10%">
                    Asignatura
                  </th>
                  <th style="width:25%">
                    Temas
                  </th>
                  <th style="width:10%">
                    Nota
                  </th>
                  <th pSortableColumn="date" style="width:7%">
                    Fecha
                    <p-sortIcon field="date"/>
                  </th>
                  <th pSortableColumn="completed" style="width:8%">
                    Completada
                    <p-sortIcon field="completed"/>
                  </th>
                  <th style="width:5%">
                    Eliminar
                  </th>
                </tr>
                <tr>
                  <th>
                    <p-columnFilter field="subjectId" matchMode="equals" [showMenu]="false">
                      <ng-template #filter let-value let-filter="filterCallback">
                        <p-select
                          appendTo="body"
                          [ngModel]="value"
                          [options]="currentSubjects"
                          (onChange)="filter($event.value.id)"
                          placeholder="Seleccionar">
                          <ng-template #selectedItem let-selectedSubject>
                            <div class="flex align-items-center flex-wrap gap-2">
                              <i class="pi pi-circle-fill" [style.color]="colorPalette[selectedSubject.color][500]"></i>
                              <span class="pl-2">{{ selectedSubject.name }}</span>
                            </div>
                          </ng-template>
                          <ng-template #item let-subject>
                            <div class="flex align-items-center flex-wrap gap-2">
                              <i class="pi pi-circle-fill" [style.color]="colorPalette[subject.color][500]"></i>
                              <span class="pl-2">{{ subject.name }}</span>
                            </div>
                          </ng-template>
                        </p-select>
                      </ng-template>
                    </p-columnFilter>
                  </th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th>
                    <p-columnFilter type="boolean" field="completed"></p-columnFilter>
                  </th>
                  <th></th>
                </tr>
              </ng-template>
              <ng-template #body let-exam>
                <tr [pSelectableRow]="exam">
                  <td>
                    <div class="flex align-items-center flex-wrap gap-2">
                      <i class="pi pi-circle-fill" [style.color]="colorPalette[getColorById(exam.subjectId)][500]"></i>
                      <span class="pl-2">{{ getNameById(exam.subjectId) }}</span>
                    </div>
                  </td>
                  <td>
                    @for (chapter of getChaptersByExamId(exam); track $index) {
                      <p-tag class="mx-1" [value]="'Tema ' + chapter.number"/>
                    }
                  </td>
                  <td>@if (exam.grade) {
                    {{ exam.grade }}
                  } @else {
                    <span>Pendiente</span>
                  }</td>
                  <td>{{ exam.date | date: 'dd/MM/yyyy' }}</td>
                  <td>
                    <p-checkbox [(ngModel)]="exam.completed" name="completed" [binary]="true"
                                (onChange)="completedChanged(exam)"/>
                  </td>
                  <td>
                    <p-button class="mr-2" icon="pi pi-times-circle" severity="danger" variant="text"
                              (onClick)="showDeleteExamDialog(exam)"/>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        }
      </ng-template>
    </p-card>
  </div>
  <div>
    <p-toolbar>
      <ng-template #start>
        <span class="pl-2 text-primary font-bold">Acady</span>
      </ng-template>
      <ng-template #end>
        <span class="pl-2 text-primary font-bold">2025</span>
      </ng-template>
    </p-toolbar>
  </div>
</div>

<p-dialog closable="false" [(visible)]="visibleNewExam" [draggable]="false" [modal]="true"
          [style]="{ width: '25rem' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap text-xl">Añadir tema</span>
    </div>
  </ng-template>
  <form (ngSubmit)="onSubmitNewExam(loginForm)" #loginForm="ngForm">
    <div class="flex flex-column gap-3">
      <p-date-picker [(ngModel)]="newExam.date"
                     [showIcon]="true"
                     id="date"
                     name="date"
                     #date="ngModel"
                     inputId="buttondisplay"
                     fluid
                     dateFormat="dd/mm/yy"
                     placeholder="Fecha"
                     [showOnFocus]="false"
                     readonlyInput
                     variant="filled"
                     appendTo="body"/>

      <p-select [options]="currentSubjects" [(ngModel)]="newExam.subjectId" appendTo="body" optionLabel="name"
                optionValue="id" variant="filled" placeholder="Asignatura" fluid id="subject" name="subject"
                (onChange)="resetNewChapters()">
        <ng-template #selectedItem let-selectedSubject>
          <div class="flex align-items-center flex-wrap gap-2">
            <i class="pi pi-circle-fill" [style.color]="colorPalette[selectedSubject.color][500]"></i>
            <span class="pl-2">{{ selectedSubject.name }}</span>
          </div>
        </ng-template>
        <ng-template #item let-subject>
          <div class="flex align-items-center flex-wrap gap-2">
            <i class="pi pi-circle-fill" [style.color]="colorPalette[subject.color][500]"></i>
            <span class="pl-2">{{ subject.name }}</span>
          </div>
        </ng-template>
      </p-select>

      <p-multi-select [options]="filterChapterByChosenSubject()" [(ngModel)]="newExam.chapterIds" appendTo="body"
                      filter="false" showToggleAll="false" [maxSelectedLabels]="8" [selectedItemsLabel]="'{0} temas seleccionados'"
                      [emptyMessage]="newExam.subjectId? 'No existen temas en esta asignatura' : 'Selecciona una asignatura'"
                      optionValue="id" optionLabel="number" variant="filled" placeholder="Temas" fluid id="chapters"
                      name="chapters" (onChange)="sortSelectedChapters()">
        <ng-template #selectedItems let-selectedChapter>
          <div class="flex items-center gap-2">
            <div>Tema {{ selectedChapter.number }}: {{ selectedChapter.name }}</div>
          </div>
        </ng-template>
        <ng-template let-chapter #item>
          <div class="flex items-center gap-2">
            <div>Tema {{ chapter.number }}: {{ chapter.name }}</div>
          </div>
        </ng-template>
      </p-multi-select>
    </div>
    <div class="flex justify-content-end flex-wrap mt-3">
      <p-button class="mr-1" label="Cancelar" [text]="true" severity="secondary" (click)="resetForm()"/>
      <p-button label="Añadir" type="submit" [disabled]="!formIsFilled()"/>
    </div>
  </form>
</p-dialog>

<p-dialog closable="false" [(visible)]="visibleDeleteExam" [draggable]="false" [modal]="true"
          [style]="{ width: '25rem' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap text-xl">Eliminar examen</span>
    </div>
  </ng-template>
  <div class="flex justify-content-center flex-wrap">
    <i class="pi pi-exclamation-circle" style="font-size: 80px" [style.color]="colorPalette['red'][600]"></i>
    <div class="text-center px-2 mt-4">
      <span>¿Seguro que quieres eliminar el examen seleccionado?</span>
    </div>
  </div>
  <div class="flex justify-content-end flex-wrap mt-5">
    <p-button class="mr-1" label="Cancelar" [text]="true" severity="secondary"
              (onClick)="resetExamToDelete()"/>
    <p-button label="Eliminar" severity="danger" (onClick)="deleteExam()"/>
  </div>
</p-dialog>

<p-dialog closable="false" [(visible)]="visibleCompletedExam" [draggable]="false" [modal]="true"
          [style]="{ width: '25rem' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap text-xl">Examen completado</span>
    </div>
  </ng-template>
  <div class="flex justify-content-center flex-wrap">
    <i class="pi pi-check-circle" style="font-size: 80px" [style.color]="colorPalette['emerald'][500]"></i>
    <div class="text-center px-2 mt-4">
      <span>¡Uno menos! ¿Qué nota has sacado?</span>
    </div>
  </div>
  <form (ngSubmit)="onSubmitCompletedExam()">
    <div class="flex flex-column my-4 mx-8">
      <input pInputText
             [(ngModel)]="completedExam.grade"
             id="grade"
             name="grade"
             #grade="ngModel"
             fluid
             placeholder="Nota"
             variant="filled">
    </div>
    <div class="flex justify-content-end flex-wrap mt-3">
      <p-button class="mr-1" label="Cancelar" [text]="true" severity="secondary" (click)="resetCompletedExam()"/>
      <p-button label="Guardar" type="submit"/>
    </div>
  </form>
</p-dialog>

<ai-exam-table [dialogVisible]="visibleAIExam"
               [chapterIds]="selectedExam.chapterIds"
               (dialogClose)="handleDialogClose()"
               [examId]="examIDForAIExam"/>

