<div class="flex flex-column h-screen">
  <navbar class="z-5"/>
  <div class="flex flex-grow-1 flex-column py-4 px-8 gap-4 overflow-auto">
    <p-card class="flex-shrink-0">
      <ng-template #title>
        <div class="flex align-items-center justify-content-between">
          <span class="text-2xl font-bold text-primary">{{ currentSubject.name }}</span>
          <div>
            <p-button class="mr-2" icon="pi pi-plus" (onClick)="showNewChapterDialog()" [outlined]="true"/>
            <p-button severity="danger" icon="pi pi-trash" (onClick)="showDeleteSubjectDialog()"/>
          </div>
        </div>
      </ng-template>
      <ng-template #subtitle>
        <div>
          <span>¡Échale un vistazo a tus temas!</span>
        </div>
      </ng-template>
      <ng-template #content>
        @if (currentChapters.length == 0) {
          <div class="flex flex-column text-center">
            <span class="text-5xl font-bold text-primary my-3">Vaya...</span>
            <span class="text-xl mb-1">Parece que aun no tienes ningún tema aun</span>
            <span class="text-base font-italic mb-3">Prueba a añadir uno haciendo click en el '+'</span>
          </div>
        } @else {
          <div class="my-4 mx-5">
            <p-accordion [value]="0">
              @for (chapter of currentChapters; track chapter.number) {
                <p-accordion-panel [value]="chapter.number">
                  <p-accordion-header>
                    <div>
                      <span class="text-primary-500 font-bold">Tema {{ chapter.number }}: </span>
                      <span>{{ chapter.name }}</span>
                    </div>
                  </p-accordion-header>
                  <p-accordion-content>
                    <div class="flex justify-content-between">
                      <label [for]="'fileInput-' + chapter.id"
                             class="p-button p-component p-button-text custom-upload-button" pRipple
                             style="font-size: 14px; cursor: pointer;">
                        <i class="pi pi-upload"></i>
                        <span class="p-button-label">Subir documento</span>
                      </label>
                      <input [id]="'fileInput-' + chapter.id" accept="application/pdf" type="file"
                             style="display: none;"
                             (change)="onFileSelected($event, chapter.id!)"/>

                      <p-button severity="danger" size="small" icon="pi pi-trash" class="mt-2"
                                (onClick)="showDeleteChapterDialog(chapter)"/>
                    </div>
                    <div class="mt-3">
                      @if (filterByChapterId(chapter.id!).length == 0) {
                        <div class="flex flex-column text-center">
                          <span class="text-5xl font-bold text-primary mb-3">¡Ups!</span>
                          <span class="text-xl mb-1">Aun no has añadido ningún documento a este tema</span>
                          <span class="text-base font-italic mb-3">¿A qué esperas? ¡Prueba a subir uno!</span>
                        </div>
                      } @else {
                        <p-table
                          [value]="filterByChapterId(chapter.id!)"
                          [paginator]="true"
                          [rows]="5"
                          [tableStyle]="{ 'min-width': '50rem' }"
                          stripedRows
                        >
                          <ng-template #header>
                            <tr>
                              <th pSortableColumn="filename" style="width:90%">Documentos
                                <p-sortIcon field="filename"/>
                              </th>
                              <th style="width:5%"></th>
                              <th style="width:5%"></th>
                            </tr>
                          </ng-template>
                          <ng-template #body let-file>
                            <tr>
                              <td>{{ file.filename }}</td>
                              <td>
                                <p-button class="mr-2" icon="pi pi-arrow-circle-down" variant="text"
                                          (onClick)="downloadPdf(file)"/>
                              </td>
                              <td>
                                <p-button class="mr-2" icon="pi pi-times-circle" severity="danger" variant="text"
                                          (onClick)="showDeleteDocumentDialog(file)"/>
                              </td>
                            </tr>
                          </ng-template>
                        </p-table>
                      }
                    </div>
                  </p-accordion-content>
                </p-accordion-panel>
              }
            </p-accordion>
          </div>
        }
      </ng-template>
    </p-card>
    <p-card class="w-full flex flex-column">
      <ng-template #title>
        <span class="text-2xl font-bold text-primary">Tareas pendientes</span>
      </ng-template>
      <ng-template #subtitle>
        <div>
          <span>¡No te dejes nada atrás!</span>
        </div>
      </ng-template>
      <ng-template #content>
        @if (currentTasks.length == 0) {
          <div class="flex flex-column text-center">
            <span class="text-5xl font-bold text-primary my-3">¡Genial!</span>
            <span class="text-xl mb-1">Llevas esta asignatura al día</span>
            <span class="text-base font-italic mb-3">¡Sigue así!</span>
          </div>
        } @else {
          <div class="my-4 mx-5">
            <p-table [value]="currentTasks" stripedRows sortField="duedate" [sortOrder]="1" [scrollable]="true"
                     scrollHeight="65vh">
              <ng-template #header>
                <tr>
                  <th style="width:40%">
                    Tarea
                  </th>
                  <th style="width:20%">
                    Prioridad
                  </th>
                  <th style="width:20%">
                    Fecha de entrega
                  </th>
                  <th style="width:20%">
                    Completada
                  </th>
                </tr>
              </ng-template>
              <ng-template #body let-task>
                <tr>
                  <td>{{ task.description }}</td>
                  <td>
                    <p-tag [severity]="getSeverityByNumber(task.priority)" [value]="getLabelByNumber(task.priority)"/>
                  </td>
                  <td>{{ task.duedate | date: 'dd/MM/yyyy' }}</td>
                  <td>
                    <p-checkbox [(ngModel)]="task.completed" name="completed" [binary]="true"
                                (onChange)="updateTaskCompletion(task)"/>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        }
      </ng-template>
    </p-card>
    <p-card class="w-full flex flex-column">
      <ng-template #title>
        <span class="text-2xl font-bold text-primary">Exámenes</span>
      </ng-template>
      <ng-template #subtitle>
        <div>
          <span>¡Mucho ánimo!</span>
        </div>
      </ng-template>
      <ng-template #content>
        @if (currentExams.length == 0) {
          <div class="flex flex-column text-center">
            <span class="text-5xl font-bold text-primary my-3">¡Estás de suerte!</span>
            <span class="text-xl mb-1">Parece que no tienes ningún examen pronto</span>
            <span class="text-base font-italic mb-3">¡No dejes de estudiar!</span>
          </div>
        } @else {
          <div class="my-4 mx-5">
            <p-table [value]="currentExams" stripedRows sortField="date" [sortOrder]="1" [scrollable]="true"
                     scrollHeight="65vh">
              <ng-template #header>
                <tr>
                  <th style="width:50%">
                    Temas
                  </th>
                  <th style="width:25%">
                    Nota
                  </th>
                  <th style="width:25%">
                    Fecha
                  </th>
                </tr>
              </ng-template>
              <ng-template #body let-exam>
                <tr>
                  <td>
                    @for (chapter of getChaptersByExamId(exam); track $index) {
                      <p-tag class="mx-1" [value]="'Tema ' + chapter.number"/>
                    }
                  </td>
                  <td>@if (exam.grade) {
                    {{ exam.grade }}
                  } @else {
                    <span>Pendiente</span>
                  }</td>
                  <td>{{ exam.date | date: 'dd/MM/yyyy' }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        }
      </ng-template>
    </p-card>
  </div>

  <div>
    <p-toolbar>
      <ng-template #start>
        <span class="pl-2 text-primary font-bold">Acady</span>
      </ng-template>
      <ng-template #end>
        <span class="pl-2 text-primary font-bold">2025</span>
      </ng-template>
    </p-toolbar>
  </div>
</div>

<p-dialog closable="false" [(visible)]="visibleNewChapter" [draggable]="false" [modal]="true"
          [style]="{ width: '25rem' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap text-xl">Añadir tema</span>
    </div>
  </ng-template>
  <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">
    <div class="flex flex-column gap-3">
      <input pInputText
             placeholder="Número de tema"
             [(ngModel)]="newChapter.number"
             id="number"
             name="number"
             #number="ngModel"
             autocomplete="off"
             fluid
             variant="filled"/>
      <input pInputText
             placeholder="Nombre"
             [(ngModel)]="newChapter.name"
             id="name"
             name="name"
             #name="ngModel"
             autocomplete="off"
             fluid
             variant="filled"/>
    </div>

    @if (isInvalid) {
      <div class="flex justify-content-end pt-2 pb-3">
        <small class="text-red-600">
          {{ this.errorMessage }}
        </small>
      </div>
    }

    <div class="flex justify-content-end flex-wrap mt-3">
      <p-button class="mr-1" label="Cancelar" [text]="true" severity="secondary" (click)="resetForm()"/>
      <p-button label="Añadir" type="submit" [disabled]="!formIsFilled()"/>
    </div>
  </form>
</p-dialog>

<p-dialog closable="false" [(visible)]="visibleDeleteDocument" [draggable]="false" [modal]="true"
          [style]="{ width: '25rem' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap text-xl">Eliminar documento</span>
    </div>
  </ng-template>
  <div class="flex justify-content-center flex-wrap">
    <i class="pi pi-exclamation-circle" style="font-size: 80px" [style.color]="colorPalette['red'][600]"></i>
    <div class="text-center px-2 mt-4">
      <span>¿Seguro que quieres eliminar el documento </span>
      <span class="font-italic">{{ fileToDelete!.filename }}</span>
      <span>?</span>
    </div>
  </div>
  <div class="flex justify-content-end flex-wrap mt-5">
    <p-button class="mr-1" label="Cancelar" [text]="true" severity="secondary" (onClick)="resetFileToDelete()"/>
    <p-button label="Eliminar" severity="danger" (onClick)="deleteFile()"/>
  </div>
</p-dialog>

<p-dialog closable="false" [(visible)]="visibleDeleteChapter" [draggable]="false" [modal]="true"
          [style]="{ width: '25rem' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap text-xl">Eliminar tema</span>
    </div>
  </ng-template>
  <div class="flex justify-content-center flex-wrap">
    <i class="pi pi-exclamation-circle" style="font-size: 80px" [style.color]="colorPalette['red'][600]"></i>
    <div class="text-center px-2 mt-4">
      <span>¿Seguro que quieres eliminar el tema </span>
      <span class="font-italic">{{ chapterToDelete!.name }}</span>
      <span>? Se eliminaran todos los documentos.</span>
    </div>
  </div>
  <div class="flex justify-content-end flex-wrap mt-5">
    <p-button class="mr-1" label="Cancelar" [text]="true" severity="secondary" (onClick)="resetChapterToDelete()"/>
    <p-button label="Eliminar" severity="danger" (onClick)="deleteChapter()"/>
  </div>
</p-dialog>


<p-dialog closable="false" [(visible)]="visibleDeleteSubject" [draggable]="false" [modal]="true"
          [style]="{ width: '25rem' }">
  <ng-template #header>
    <div class="inline-flex items-center justify-center gap-2">
      <span class="font-bold whitespace-nowrap text-xl">Eliminar asignatura</span>
    </div>
  </ng-template>
  <div class="flex justify-content-center flex-wrap">
    <i class="pi pi-exclamation-circle" style="font-size: 80px" [style.color]="colorPalette['red'][600]"></i>
    <div class="text-center px-2 mt-4">
      <span>¿Seguro que quieres eliminar la asignatura </span>
      <span class="font-italic">{{ currentSubject.name }}</span>
      <span>? Se eliminaran todos los temas y documentos.</span>
    </div>
  </div>
  <div class="flex justify-content-end flex-wrap mt-5">
    <p-button class="mr-1" label="Cancelar" [text]="true" severity="secondary"
              (onClick)="visibleDeleteSubject = false"/>
    <p-button label="Eliminar" severity="danger" (onClick)="deleteSubject()"/>
  </div>
</p-dialog>
